<div id="chatbot">
<section id="chat-0">
<div><p class="tvf-bubble">Bienvenue, on peut te faire découvrir ?</p></div>
<div class="horizontal-scroll">
  <a href="#" data-to="chat-1" class="interactive btn btn-default btn-tvf">Oui merci !</a>
  <a href="{{ path('tvf_store_explore', {'category': 'vinyle'}) }}" class="btn btn-default btn-tvf">Non merci je me débrouille</a>
</div>
</section>
<section id="chat-1" class="hide">
<hr />
<div><p class="tvf-bubble">Je cherche...</p></div>
<div>
  <div style="display: flex; flex-direction: row; margin-bottom: 0.5rem;">
    <div style="width:49.6%; margin-right: 0.4%">
      <p class="center" style="margin-bottom: 0.5rem;">
        <a href="#" data-to="chat-3" class="interactive btn btn-default btn-tvf">Une nouveauté</a>
      </p>
      <div class="tvf-grid">
        <div class="tvf-row">
          <div class="tvf-box-small tvf-box tvf-icon">
            <div class="tvf-inner">
                <img src="https://vinyl-factory.com/t/web/uploads/img/d9ea3e5219ca3968c9027a29ba1c717a-xs.png" alt="" style="">
            </div>
          </div>
          <div class="tvf-box-small tvf-box tvf-icon">
            <div class="tvf-inner">
              <a href="#">
                <img src="https://vinyl-factory.com/t/web/uploads/img/d9ea3e5219ca3968c9027a29ba1c717a-xs.png" alt="" style="">
              </a>
            </div>
          </div>
          <div class="tvf-box-small tvf-box tvf-icon">
            <div class="tvf-inner">
              <a href="#">
                <img src="https://vinyl-factory.com/t/web/uploads/img/9267b7fc40ad8a452eb99020ee866ca0-xs.png" alt="" style="">
              </a>
            </div>
          </div>
          <div class="tvf-box-small tvf-box tvf-icon">
            <div class="tvf-inner">
              <a href="#">
                <img src="https://vinyl-factory.com/t/web/uploads/img/3f3ae9652f96ce3d5df13d0c19ad9bb3-xs.png" alt="" style="">
              </a>
            </div>
          </div>
          <div class="tvf-box-small tvf-box tvf-icon">
            <div class="tvf-inner">
              <a href="#">
                <img src="https://vinyl-factory.com/t/web/uploads/img/3f3ae9652f96ce3d5df13d0c19ad9bb3-xs.png" alt="" style="">
              </a>
            </div>
          </div>
          <div class="tvf-box-small tvf-box tvf-icon">
            <div class="tvf-inner">
              <a href="#">
                <img src="https://vinyl-factory.com/t/web/uploads/img/f814316796fa4a9aaeb9880fb8ea143e-xs.png" alt="" style="">
              </a>
            </div>
          </div>
          <div class="tvf-box-small tvf-box tvf-icon">
            <div class="tvf-inner">
              <a href="#">
                <img src="https://vinyl-factory.com/t/web/uploads/img/3f3ae9652f96ce3d5df13d0c19ad9bb3-xs.png" alt="" style="">
              </a>
            </div>
          </div>
          <div class="tvf-box-small tvf-box tvf-icon">
            <div class="tvf-inner">
              <a href="#">
                <img src="https://vinyl-factory.com/t/web/uploads/img/f814316796fa4a9aaeb9880fb8ea143e-xs.png" alt="" style="">
              </a>
            </div>
          </div>
          <div class="tvf-box-small tvf-box tvf-icon">
            <div class="tvf-inner">
              <a href="#">
                <img src="https://vinyl-factory.com/t/web/uploads/img/84ffdb36ad11eafaf810e197552e18bc-xs.jpeg" alt="" style="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="width:49.6%;">
      <p class="center" style="margin-bottom: 0.5rem;">
        <a href="#" data-to="chat-3" class="interactive btn btn-default btn-tvf">Un classique</a>
      </p>
      <div class="tvf-grid">
        <div class="tvf-row">
          <div class="tvf-box-small tvf-box tvf-icon">
            <div class="tvf-inner">
              <a href="#">
                <img src="https://vinyl-factory.com/t/web/uploads/img/9267b7fc40ad8a452eb99020ee866ca0-xs.png" alt="" style="">
              </a>
            </div>
          </div>
          <div class="tvf-box-small tvf-box tvf-icon">
            <div class="tvf-inner">
              <a href="#">
                <img src="https://vinyl-factory.com/t/web/uploads/img/84ffdb36ad11eafaf810e197552e18bc-xs.jpeg" alt="" style="">
              </a>
            </div>
          </div>
          <div class="tvf-box-small tvf-box tvf-icon">
            <div class="tvf-inner">
              <a href="#">
                <img src="https://vinyl-factory.com/t/web/uploads/img/a86c0dda8b8c9e6259a1164416827215-xs.png" alt="" style="">
              </a>
            </div>
          </div>
          <div class="tvf-box-small tvf-box tvf-icon">
            <div class="tvf-inner">
              <a href="#">
                <img src="https://vinyl-factory.com/t/web/uploads/img/9267b7fc40ad8a452eb99020ee866ca0-xs.png" alt="" style="">
              </a>
            </div>
          </div>
          <div class="tvf-box-small tvf-box tvf-icon">
            <div class="tvf-inner">
              <a href="#">
                <img src="https://vinyl-factory.com/t/web/uploads/img/a86c0dda8b8c9e6259a1164416827215-xs.png" alt="" style="">
              </a>
            </div>
          </div>
          <div class="tvf-box-small tvf-box tvf-icon">
            <div class="tvf-inner">
              <a href="#">
                <img src="https://vinyl-factory.com/t/web/uploads/img/f814316796fa4a9aaeb9880fb8ea143e-xs.png" alt="" style="">
              </a>
            </div>
          </div>
          <div class="tvf-box-small tvf-box tvf-icon">
            <div class="tvf-inner">
              <a href="#">
                <img src="https://vinyl-factory.com/t/web/uploads/img/3f3ae9652f96ce3d5df13d0c19ad9bb3-xs.png" alt="" style="">
              </a>
            </div>
          </div>
          <div class="tvf-box-small tvf-box tvf-icon">
            <div class="tvf-inner">
              <a href="#">
                <img src="https://vinyl-factory.com/t/web/uploads/img/f814316796fa4a9aaeb9880fb8ea143e-xs.png" alt="" style="">
              </a>
            </div>
          </div>
          <div class="tvf-box-small tvf-box tvf-icon">
            <div class="tvf-inner">
              <a href="#">
                <img src="https://vinyl-factory.com/t/web/uploads/img/9267b7fc40ad8a452eb99020ee866ca0-xs.png" alt="" style="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" data-to="chat-2" class="interactive btn btn-default btn-tvf">J’ai déjà une idée bien précise</a>
</div>
</section>
<section id="chat-2" class="hide">
<hr />
<div>
  <div><p class="tvf-bubble">Je cherche un album, un artiste ou un morceau...</p></div>
  <div class="input-group">
      <input type="text" class="form-control" placeholder="Johnny Halliday, etc" aria-label="Search for...">
      <span class="input-group-btn">
        <a href="{{ path('tvf_store_explore', {'category': 'vinyle'}) }}" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Rechercher</a>
      </span>
    </div>
</div>
</section>
<section id="chat-3" class="hide">
<hr />
<div><p class="tvf-bubble">Ce que j'aime bien</p></div>
<div class="horizontal-scroll">
  <a href="#" class="btn-select btn btn-default btn-tvf">Jazz</a>
  <a href="#" class="btn-select btn btn-default btn-tvf">Pop</a>
  <a href="#" class="btn-select btn btn-default btn-tvf">Electro</a>
  <a href="#" class="btn-select btn btn-default btn-tvf">Classique</a>
  <a href="#" data-to="chat-4" class="interactive btn btn-default btn-tvf">C'est tout !</a>
</div>
</section>
<section id="chat-4" class="hide">
<hr />
<div><p class="tvf-bubble">Ce que je n'aime pas</p></div>
<div class="horizontal-scroll">
  <a href="#" data-to="chat-5" class="interactive btn btn-default btn-tvf">J'aime tout</a>
  <a href="#" class="btn-select btn btn-default btn-tvf">Jazz</a>
  <a href="#" class="btn-select btn btn-default btn-tvf">Pop</a>
  <a href="#" class="btn-select btn btn-default btn-tvf">Electro</a>
  <a href="#" class="btn-select btn btn-default btn-tvf">Classique</a>
  <a href="#" data-to="chat-5" class="interactive btn btn-default btn-tvf">C'est tout !</a>
</div>
</section>
<section id="chat-5" class="hide">
<hr />
<div><p class="tvf-bubble"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Ok, en avant !</p></div>
</section>
<section style="height: 20px;">
</section>
</div>
