{% extends "TVFStoreBundle:Search:layout.html.twig" %}
{% block title %}
  | Créations
{% endblock %}
{% block body %}
<div id="explore-page">
  {% set navbar = "TVFStoreBundle:Utils:nav.html.twig" %}
  {% set lateral_navbar = "TVFStoreBundle:Search:lateral.html.twig" %}
  {{ include(navbar, {'active': 'discover'}) }}
  <div class="container container-icons">
    <div class="row">
      {{ include(lateral_navbar) }}
      <div id="display_icons" class="col-lg-8 col-xl-9">
        <div class="horizontal-scroller" style="margin-bottom: 3px;">
          <a href="#" id="show_lateral" class="show-lateral visible-to-md btn btn-default" style="z-index: 200;"><i class="fa fa-filter" aria-hidden="true"></i> Filtrer les créations</a>
          <a href="#" alt="Aligner les icones" class="reorder-btn visible-from-sm visible-to-md btn btn-default" style="z-index: 200;"><i class="fa fa-th" aria-hidden="true"></i> Réorganiser</a>
        </div>
        <div style="padding-left: 1rem; padding-right: 1rem;">
          {% set icons = "TVFStoreBundle:Search:index_insta.html.twig" %}
          {{ include(icons, {'vinyls': vinyls, 'filterable': 'yes'}) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
