<div id="lateral_mobile" class="col-lg-4 col-xl-3">
  <ul class="list-group">
    <li class="list-group-item collapse-toggle justify-content-between">
      {% if record is defined %}
        <h4><a href="{{ path('tvf_record_client_present', {'slug': record.slug}) }}"><b>{{ record.name }}</b></a></h4>
      {% endif %}
      <h5 style="margin-bottom: 0px; width: 100%;">
        <div style="float: right; margin-top: 2px;">
          <a href="#" title="Fermer le volet" class="close-lateral visible-to-md">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </a>
          {% if not is_granted('ROLE_RECORD') and not is_granted('ROLE_ADMIN') %}
          <a href="#" title="Aligner les icones" class="reorder-btn visible-from-lg">
            <i class="fa fa-th" aria-hidden="true"></i>
          </a>
          {% endif %}
        </div>
        Résultats <span id="number_results"></span>
      </h5>
    </li>
    <div id="menu_lateral" class="collapse show">
        {% set lateral_navbar_content = "TVFStoreBundle:Search:lateral_content.html.twig" %}
        {{ include(lateral_navbar_content) }}
    </div>
    <div id="lateral_mobile_bottom" class="visible-to-md" style="display:none;">
    <li class="list-group-item justify-content-between">
      <a href="#" alt="Fermer le volet" class="close-lateral btn btn-primary">
        Fermer
      </a>
    </li>
    </div>
  </ul>
</div>
