
<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="">
    <title>TVF</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/TVF/global_style.css') }}">
  </head>
  <body>
    <div id="front-page">
      <div id="nav_right_icon" class="top_circle_icon visible-from-sm">
        <a href="{{ path('login') }}" style="color:black">
          <i class="fa fa-lock fa-2x" aria-hidden="true"></i>
        </a>
      </div>
      <div id="title">
        <h1 class="title special-font">
          The Vinyl Factory
        </h1>
        <h2 class="signature"><br /><br />
          January 2018
        </h1>
      </div>
    </div>
  </body>
</html>
