<ul class="edition-btn">
  <li>
    <a href="{{ edit }}" title="Modifier" data-toggle="tooltip"><i class="fa fa-pencil-square-o"></i></a>
  </li>
  <li>
    <a href="{{ remove }}" class="remove" title="Supprimer" data-toggle="tooltip"><i class="fa fa-trash-o"></i></a>
  </li>
</ul>
