<span id="text-{{ element.id }}">{{ element.text|raw|nl2br }}</span>
{% if is_granted('ROLE_ADMIN') %}
<a class="edit-link" id="{{ element.id }}" href="{{ path('tvf_admin_text_add', {'id': element.id }) }}" style="font-size: 1rem;"><i class="fa fa-pencil-square-o"></i></a>
{% endif %}
