<div class="container">
  <div class="row">
    <div id="cart-record-choice" class="col-sm-12">
      <div class="card-deck">
        <div class="card">
          <div class="card-block">
            <h5 class="card-title">Retirer chez le disquaire</h5>
            <p class="card-text">
              Acheter ce vinyle sur place chez le disquaire.<br />
              <span class="record-name bold" style="font-size: 1.1rem;">
                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
              </span><br />
              <span class="record-address bold"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Chargement de l'adresse...</span>
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-block">
            <h5 class="card-title">Commander en ligne</h5>
            <p class="card-text">
              Commander le vinyle en ligne. Nous livrons en moins d'un jour.
            </p>
            <div class="center">
              <a href="#" class="btn btn-primary add-vinyl-to-cart">
                Ajouter au panier
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
