
<!DOCTYPE HTML>
<html>
  <head>
    <title>The Vinyl Factory {% block title %}{% endblock %}</title>
    <meta name="description" content="Le fil rouge est une maison de création textile qui propose des vêtements et accessoires uniques et originaux made in France." />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/TVF/global_style.css') }}">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}

    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ asset('bundles/TVF/js/jquery.zoom.min.js') }}"></script>
    <!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.js"></script>
    <script>
      $('textarea').each(function(){
        this.style.height = "1px";
        this.style.height = (22+this.scrollHeight)+"px";
      });
      $('body').on('keyup', 'textarea', function(e){
        this.style.height = "1px";
        this.style.height = (22+this.scrollHeight)+"px";
      });
      $('.internal-link').on('click', function(e){
        // if is link
        if($(e.target).closest('a').length){
          e.preventDefault();
        }
        var hidden_element_id = $(this).attr('data-target');
        console.log(hidden_element_id);
        $(hidden_element_id).show();
        if(!$(this).hasClass('keep')){
          $(this).hide();
        }
      });
    </script>
    <script>
    $(document).ready(function() {
        $('.creation-icon img').each(function(){
            var img = $(this);
            var width = img.width();
            var height = img.height();
            if(width < height){
               img.addClass('portrait');
            }
            img.show();
        });
    });
    </script>
    {% if form is defined %}{% if form.images is defined %}
    <script type="text/javascript">
      // keep track of how many image fields have been rendered
      var imageCount = '{{ form.images|length }}';

      jQuery(document).ready(function() {
          jQuery('#add-another-image').click(function(e) {
              e.preventDefault();

              var imageList = jQuery('#image-fields-list');

              // grab the prototype template
              var newWidget = imageList.attr('data-prototype');
              // replace the "__name__" used in the id and name of the prototype
              // with a number that's unique to your images
              // end name attribute looks like name="contact[images][2]"
              newWidget = newWidget.replace(/__name__/g, imageCount);
              imageCount++;

              // create a new list element and add it to the list
              var newLi = jQuery('<li></li>').html(newWidget);
              newLi.appendTo(imageList);
          });
      })
    </script>
    {% endif %}{% endif %}
    {% block script %} {% endblock %}
    <script>
    {% if is_granted('ROLE_USER') %}
    var supprItems = $('.remove');
    for(i=0; i<supprItems.length; i++){
        $(supprItems[i]).on('click', function(e){
            e.preventDefault();
            var url = this.href;
            var box = bootbox.dialog({
                  message: "Confirmer la suppression",
                  title: "Supprimer cet élément ?",
                  buttons: {
                      "Oh non.": {
                          className: "btn-default",
                      },
                      main: {
                          label: "Supprimer",
                          className: "btn-danger",
                          callback: function() {
                              window.location = url;
                          }
                      }
                  }
              });
        });
    }
    {% endif %}
    </script>
  </body>
</html>
