<form class="form-signin" name="form" method="post" action="{{ path('tvf_admin_type_add',{'gender_id': gender_id, 'id': id}) }}">
  {% set input_form="TVFAdminBundle:Utils:form_input.html.twig" %}
  {% set save_form="TVFAdminBundle:Utils:form_save.html.twig" %}
  {{ include(input_form, {'element': form.name, 'name':"Type d'habit"}) }}
  {{ include(save_form, {'element': form.save, 'name':"Ajouter"}) }}
  {{ form_rest(form) }}
</form>
