{% extends "TVFStoreBundle:Search:layout.html.twig" %}
{% block title %}
  | Votre collection
{% endblock %}
{% block body %}
  <div id="record-page">
    {% set navbar = "TVFRecordBundle:Utils:nav.html.twig" %}
    {% set lateral_navbar = "TVFStoreBundle:Search:lateral.html.twig" %}
    {{ include(navbar, {'active': 'discover'}) }}
    <div class="container container-icons">
      <div class="row">
        {{ include(lateral_navbar) }}
        <div id="display_icons" class="col-lg-8 col-xl-9">
          <h4 class="special-font">
            {% if vinyls|length == 0 %}
              Vous n'avez pas encore ajouté de vinyles. Essayez, c'est très simple !
            {% else %}
              Votre collection de {{ vinyls|length }} vinyle{% if vinyls|length > 1 %}s{% endif %}
            {% endif %}
          </h4>
          <div class="horizontal-scroller" style="margin-bottom: 3px;">
            <a href="#" id="show_lateral" class="show-lateral visible-to-md btn btn-default" style="z-index: 200;"><i class="fa fa-filter" aria-hidden="true"></i> Filtrer les créations</a>
          </div>
          <div style="padding-left: 1rem; padding-right: 1rem;">
            {% set icons = "TVFStoreBundle:Search:index_insta.html.twig" %}
            {{ include(icons, {'vinyls': vinyls, 'filterable': 'yes'}) }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
