{% extends "TVFStoreBundle::layout.html.twig" %}
{% block body %}
  <h2>{{ artist.name }}</h2>
  <p>{{ artist.bio }}</p>
  <img src="{{ asset('uploads/img/' ~ artist.image) }}" class="img-thumbnail" width="300">
{% endblock %}
{% block script %}
{% endblock %}
